<html>

  <head>
    <title>CS411 Project</title>
  </head>

  <body align ="center">

    <h4>Please enter your schedule for today: </h4>

    <form action="/" method="POST">

      <p> Event Name:<input type="text" name="event1-name" /></p>
      <p> Time:<input type="time" name="event1-time" /> </p>
      <p> Location:<input type="text" name="location1" /></p>

      <p> Event Name:<input type="text" name="event2-name" /> </p>
      <p> Time:<input type="time" name="event2-time" /> </p>
      <p> Location:<input type="text" name="location2" /></p>

      <p> Event Name:<input type="text" name="event3-name" /> </p>
      <p> Time:<input type="time" name="event3-time" /> </p>
      <p> Location:<input type="text" name="location3" />

      <p> Event Name:<input type="text" name="event4-name" /> </p>
      <p> Time:<input type="time" name="event4-time" /> </p>
      <p> Location:<input type="text" name="location4" /></p>

      <p> Minimum walking distance:<input type="number" name="dist" /> </p>

      <input type="submit" name="Submit"/>

    </form>

  </body>
  
</html>
    
    
